/**
 * Block Editor Controls
 */
.contentsync-options-section > .components-base-control {
	margin-bottom: 16px;
}

.contentsync-canonical-input input {
	min-height: 40px;
	padding-block: 12px;
}

/* Save Button */
.contentsync-save-button-container {
	text-align: right;
}

.contentsync-save-button {
	font-size: 13px !important;
	height: 36px !important;
	padding: 0 16px !important;
	border-radius: 4px !important;
	font-weight: 500 !important;
}

/* Responsive Design */
@media (max-width: 782px) {
	.contentsync-options-section {
		margin: 16px 0;
		padding: 16px;
	}

	.contentsync-option-label:hover {
		margin: 0 -16px !important;
		padding: 12px 16px !important;
	}
}

/* List: contentsync_box_list */
ul.contentsync_box_list {
	border: 1px solid #dddddd;
	background-color: #fdfdfd;
	padding: 8px 8px 1px;
	max-height: 400px;
	overflow-y: auto;
}

ul.contentsync_box_list li:not(:last-child) {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 6px;
	margin-bottom: 10px;
}

ul.contentsync_box_list li .flex {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}
