/**
 * Description
 */
.contentsync-modal .components-modal__description {
	margin-block: 0;
}

/**
 * Body
 */
.contentsync-modal .components-panel__body {
	border: none;
	padding-block: 16px;
}

.contentsync-modal .components-panel__body-form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-block: 8px;
}

.contentsync-modal .components-panel__body-form .components-checkbox-control {
	display: flex;
	flex-direction: row;
}

.contentsync-modal
	.components-panel__body-form
	.components-checkbox-control
	.components-checkbox-control__input-container {
	height: var(--checkbox-input-size, 16px);
}

.contentsync-modal
	.components-panel__body-form
	.components-checkbox-control
	.components-checkbox-control__label {
	display: flex;
	flex-direction: column;
	gap: 4px;
	max-width: calc(100% - var(--checkbox-input-margin) - var(--checkbox-input-size));
}

.contentsync-modal .components-panel__body .contentsync-info-box {
	margin-block: 8px 0;
}

/**
 * Footer
 */
.contentsync-modal .components-panel__footer.components-flex {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: row;
	gap: 8px;
	-webkit-box-pack: end;
	justify-content: flex-end;
	width: 100%;
}
