.contentsync-info-box.contentsync-status {
	align-items: center;
	position: relative;
	margin: 0;
}

.contentsync-info-box.contentsync-status img,
.contentsync-info-box.contentsync-status svg {
	height: 16px;
	display: inline-block;
}

.contentsync-info-box.contentsync-status img:not(:last-child),
.contentsync-info-box.contentsync-status svg:not(:last-child) {
	margin-right: 5px;
}

.contentsync-info-box.contentsync-status.purple {
	color: #9b51e0;
}

.contentsync-info-box.contentsync-status.green {
	color: rgba(39, 174, 96, 1);
}

/**
 * Simple tooltip using data-tooltip attribute.
 */
[data-tooltip] {
	position: relative;
	--tooltip-background: gray;
}

[data-tooltip]:hover::after {
	content: attr(data-tooltip);
	position: absolute;
	display: block;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	margin: 8px 0 0;
	padding: 0px 4px;
	border-radius: 2px;
	font-size: smaller;
	line-height: 1.8;
	background: var(--tooltip-background);
	color: white;
}

[data-tooltip]:hover::before {
	content: '';
	position: absolute;
	display: block;
	top: 100%;
	left: 50%;
	margin: 0 -4px;
	border: 4px solid transparent;
	border-bottom-color: var(--tooltip-background);
}
