.contentsync-tooltip-wrapper {
	position: relative;
	font-size: 14px;
	font-weight: 400;
}

.contentsync-tooltip-wrapper .toggle {
	cursor: pointer;
	position: relative;
}

.contentsync-tooltip-wrapper .popup {
	position: absolute;
	display: block;
	z-index: -999;
	right: -6px;
	top: -6px;
	padding: 12px 12px 4px;
	width: 240px;
	border-radius: 4px;
	background: #fff;
	-webkit-box-shadow: 0px 5px 14px -2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 14px -2px rgba(0, 0, 0, 0.2);

	opacity: 0;
	-webkit-transform: rotate(-2deg) scale(0.8) rotate3d(2, 3, 0.5, -20deg) translate(40px, 0px);
	transform: rotate(-2deg) scale(0.8) rotate3d(2, 3, 0.5, -20deg) translate(40px, 0px);
}

.contentsync-tooltip-wrapper .popup.bottom {
	top: auto;
	bottom: -6px;
	-webkit-transform: rotate(3deg) scale(0.8) rotate3d(2, 3, 0.5, 20deg) translate(50px, 20px);
	transform: rotate(3deg) scale(0.8) rotate3d(2, 3, 0.5, 20deg) translate(50px, 20px);
}

.contentsync-tooltip-wrapper .popup.right {
	right: auto;
	left: -6px;
	padding: 12px 4px 12px 30px;
	-webkit-transform: rotate(3deg) scale(0.8) rotate3d(2, 3, 0.5, 20deg) translate(-50px, 20px);
	transform: rotate(3deg) scale(0.8) rotate3d(2, 3, 0.5, 20deg) translate(-50px, 20px);
}

.contentsync-tooltip-wrapper .toggle.checked {
	z-index: 100;
}

.contentsync-tooltip-wrapper .toggle.checked + .popup {
	opacity: 1;
	z-index: 99;
	-webkit-transform: none;
	transform: none;
	-webkit-transition:
		opacity 0.2s ease,
		-webkit-transform 0.2s ease;
	transition:
		opacity 0.2s ease,
		-webkit-transform 0.2s ease;
	transition:
		opacity 0.2s ease,
		transform 0.2s ease;
	transition:
		opacity 0.2s ease,
		transform 0.2s ease,
		-webkit-transform 0.2s ease;
}

.contentsync-tooltip-wrapper .popup > * {
	display: inline-block;
	line-height: 140%;
	margin-bottom: 7px;
	padding: 0;
}

.contentsync-tooltip-wrapper .dashicons {
	height: 1em;
	width: 1em;
	font-size: 1.3em;
	vertical-align: text-top;
}
