.contentsync-info-box.contentsync-status {
	align-items: center;
	position: relative;
	margin: 0;
}

.contentsync-info-box.contentsync-status img,
.contentsync-info-box.contentsync-status svg {
	height: 16px;
	display: inline-block;
}

.contentsync-info-box.contentsync-status img:not(:last-child),
.contentsync-info-box.contentsync-status svg:not(:last-child) {
	margin-right: 5px;
}

.contentsync-info-box.contentsync-status.purple {
	color: #9b51e0;
}

.contentsync-info-box.contentsync-status.green {
	color: rgba(39, 174, 96, 1);
}
