/*
----------------------------------------------------------

					Wizard Styles

----------------------------------------------------------
*/
#greyd-wizard.wizard {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	z-index: 9991;
}

.wizard .wizard_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #fff;
	width: 96%;
	max-width: 540px;
	min-height: 520px;
	margin: 0 auto;
	margin-top: calc(50vh - 260px);
	border-radius: 5px;
	overflow: hidden;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.wizard .wizard_box.big {
	max-width: 670px;
	min-height: 620px;
	margin-top: calc(50vh - 310px);
}

/*
	Head
*/
.wizard .wizard_head {
	position: relative;
	height: 110px;
	/* background: linear-gradient(165deg, #f9dd61, #f2b25a); */
	background: #24282d;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.wizard.started .wizard_head {
	height: 55px;
}
.wizard .wizard_head .wizard_icon {
	position: absolute;
	width: 70px;
	margin-left: calc(50% - 35px);
	margin-top: 20px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.wizard.started .wizard_head .wizard_icon {
	width: 35px;
	margin-top: 12px;
	margin-left: 20px;
}
.wizard .wizard_head .close_wizard {
	float: right;
	cursor: pointer;
	position: relative;
	width: 42px;
	height: 42px;
	margin: 7px;
	color: #fff;
}
.wizard .wizard_head .close_wizard:hover {
	color: #00a0d2;
}
.wizard .wizard_head .close_wizard::before {
	font-size: 42px;
	line-height: 42px;
}

/*
	Content
*/
.wizard .wizard_content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	position: relative;
	margin-bottom: -40px;
	overflow: hidden;
}

.wizard .wizard_content > div {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px 40px 40px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 100%;
	overflow: auto;

	opacity: 0;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: opacity .15s ease, -webkit-transform .4s ease;
	transition: opacity .15s ease, -webkit-transform .4s ease;
	transition: transform .4s ease, opacity .15s ease;
	transition: transform .4s ease, opacity .15s ease, -webkit-transform .4s ease;
}
.wizard .wizard_content > div.active {
/*    position: relative;*/
	-webkit-transform: none;
	transform: none;
	opacity: 1;
	-webkit-transition: opacity .6s ease, -webkit-transform .4s ease;
	transition: opacity .6s ease, -webkit-transform .4s ease;
	transition: transform .4s ease, opacity .6s ease;
	transition: transform .4s ease, opacity .6s ease, -webkit-transform .4s ease;
}
.wizard .wizard_content > div.active ~ div {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.wizard .wizard_content h2 {
	text-align: center;
	font-size: 22px;
	margin: 35px 0px;
	font-weight: 700;
}
.wizard .wizard_content .column {
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	float: left;
}
.wizard .wizard_content .column > * {
	margin-bottom: 8px;
}

.wizard .wizard_content .row {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.wizard .wizard_content .row .element {
	width: 32%;
	margin-bottom: 20px;
	margin-right: 10px;
}
.wizard .wizard_content .row .element.grow {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.wizard .wizard_content .row .label {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
	color: #5e5e5e;
}
.wizard .wizard_content .row select, .wizard input:not([type="checkbox"]) {
	font-size: 1em;
	width: 100%;
	padding: 8px 24px 8px 6px;
}
.wizard .wizard_content .row input[type="checkbox"],
.wizard .wizard_content .row input[type="radio"] {
	width: 1rem;
}

.wizard .wizard_content .wizard_options,
.wizard .wizard_content .content_options {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 20px;
}
.wizard .wizard_content .content_options {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin: 0 -6px 20px;
}
.wizard .wizard_content .wizard_option,
.wizard .wizard_content .content_option {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	cursor: pointer;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 0 5px;
	margin: 0 6px 12px;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}
.wizard .wizard_content .content_option {
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	width: calc(25% - 24px);
}
/* .wizard .wizard_content .wizard_option:first-child,
.wizard .wizard_content .content_option:first-child {
	margin-left: 0;
}
.wizard .wizard_content .wizard_option:last-child,
.wizard .wizard_content .content_option:last-child {
	margin-right: 0;
} */
.wizard .wizard_content .wizard_option:hover,
.wizard .wizard_content .content_option:hover {
	border-color: #000;
	-webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0, 0.31);
	box-shadow: 0px 2px 5px -1px rgba(0,0,0, 0.31);
}
.wizard .wizard_content .wizard_option.active,
.wizard .wizard_content .content_option.active {
	color: var(--wp-admin-theme-color);
	border-color: var(--wp-admin-theme-color);
	-webkit-box-shadow: 0px 4px 10px -4px rgba(69, 92, 111, 0.51);
	box-shadow: 0px 4px 10px -4px rgba(69, 92, 111, 0.51);
}
.wizard .wizard_content .wizard_option > img,
.wizard .wizard_content .content_option > svg,
.wizard .wizard_content .content_option > img {
	max-width: 90px;
}
.wizard .wizard_content .content_option > svg,
.wizard .wizard_content .content_option > img {
	max-height: 50px;
	margin: 20px;
}
.wizard .wizard_content .content_option > img.big {
	max-height: 90px;
	margin: 0;
}
.wizard .wizard_content .content_option.active > svg {
	fill: currentColor;
}
.wizard .wizard_content .wizard_option.result > img {
	max-width: 60px;
}
.wizard .wizard_content .wizard_option > p,
.wizard .wizard_content .content_option > p {
	font-size: 15px;
	margin-top: -5px;
	margin-bottom: 5px;
}
.wizard .wizard_content .content_option > select {
	display: none;
	height: 30px;
	padding: 0px 24px 0px 0px;
	margin-bottom: 4px;
}
.wizard .wizard_content .option_txt {
	color: #72777c;
	margin: 20px 0;
}

.wizard .wizard_content .install_txt {
	text-align: center;
	padding: 0px 30px;
	margin-bottom: 5px;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.wizard .wizard_content .install_txt .dashicons {
	font-size: 140px;
	width: 140px;
	height: 140px;
	color: #46b450; /*#328566;*/
}
.wizard .wizard_content .loading {
	margin-top: 50px
}
.wizard .wizard_content .loading .loader::after {
	content: " ";
	height: 60px;
	width: 60px;
	border-width: 8px;
}
.wizard .wizard_content .success_mark .checkmark {
	height: 110px;
	width: 110px;
	margin: 50px 0 20px;
}
.wizard .wizard_content label input + span {
	margin-left: 4px;
}
.wizard .wizard_content label + .contentsync_info_box {
	font-size: smaller;
	line-height: 140%;
}

/*
	Footer
*/
.wizard .wizard_foot {
	padding: 25px 25px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(66.6%, white) , to(transparent));
	background-image: linear-gradient(0deg, white 66.6% , transparent);
	z-index: 1;
}
.wizard .wizard_foot .button {
	font-size: 20px;
	font-weight: 500;
	padding: 0px 30px;
}
.wizard .wizard_foot .button .dashicons:last-child:first-child {
	font-size: 25px;
	width: 25px;
	height: 45px;
	line-height: 45px;
}
.wizard .wizard_foot .button.grow {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.wizard .wizard_foot .button + .button.grow {
	margin-left: 1em;
}
.wizard .wizard_foot .link {
	cursor: pointer;
	margin-bottom: 1em;
	color: #72777c;
	opacity: 0.7;
	text-decoration: underline;
}
.wizard .wizard_foot .link:hover {
	opacity: 1;
}

.wizard .wizard_foot .pagination {
	text-align: center;
	cursor: default;
}
.wizard .wizard_foot .pagination .page {
	cursor: pointer;
	display: inline-block;
	padding: 10px 5px;
	margin-top: 10px;
	line-height: 0;
	border-radius: 2px;
	-webkit-transition: background .25s;
	transition: background .25s;
}
.wizard .wizard_foot .pagination .page:hover {
	background: rgba(0,0,0,.04);
}
.wizard .wizard_foot .pagination .page::after {
	content: " ";
	display: inline-block;
	background: #ccc;
	width: 10px;
	height: 10px;
	border-radius: 10px;
}
.wizard .wizard_foot .pagination .page.current::after {
	background: var(--wp-admin-theme-color);
}
/* mobile design */
@media(max-width: 480px) {
	.wizard .wizard_content > div {
		padding: 0 1em;
	}
	.wizard .wizard_content .wizard_option > img {
		max-width: 70px;
	}
	.wizard .wizard_content .wizard_option.result > img {
		max-width: 50px;
	}
	.wizard .wizard_foot {
		padding: 1em;
	}
	.wizard .wizard_foot .button {
		font-size: 1em;
		padding: 0 1em;
	}
	.wizard .wizard_foot .button .dashicons {
		font-size: 1em;
		width: 1em;
		height: 1em;
		line-height: 1em;
	}
	.wizard .wizard_foot .pagination .page {
		margin-top: 5px;
	}
}
