/**
 * Content Syncs Backend Styling
 */

:root {
	--metabox-margin: -13px;
	--metabox-padding: 12px;
}

/*
	Meta Box
*/
.contentsync-gray-box {
	padding: 0px 6px;
	background: #F9F9F9;
	border: 1px solid #D7D7D7;
}

#poststuff .inside > .contentsync-gray-box {
	margin: 0 var(--metabox-margin) 6px;
	padding: 0px var(--metabox-padding) 13px;
}

#poststuff .inside > .contentsync-gray-box:first-child {
	margin-top: -7px;
}

#poststuff .inside > .contentsync-gray-box:not(:first-child) {
	margin-top: var(--metabox-padding);
}

#poststuff .inside > .contentsync-gray-box:last-child {
	margin-bottom: var(--metabox-margin);
}

#poststuff .inside > .contentsync-gray-box > :last-child {
	margin-bottom: 0px;
}

#contentsync_box .inside > .contentsync_info_box {
	margin: 0.3em 0;
}

/* site-editor */
.components-panel__body > .contentsync-gray-box {
	margin-inline: -16px;
	padding: 16px;
	border-left: none;
	border-right: none;
}

.components-panel__body > .contentsync_info_box.contentsync_status {
	margin-bottom: 16px;
}

/* List: contentsync_box_list */
ul.contentsync_box_list {
	border: 1px solid #DDDDDD;
	background-color: #FDFDFD;
	padding: 8px 8px 1px;
	max-height: 400px;
	overflow-y: auto;
}

ul.contentsync_box_list li:not(:last-child) {
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 6px;
	margin-bottom: 10px;
}

ul.contentsync_box_list li .flex {
	align-items: flex-start;
}

/* compatibility with theme < 0.8.5 */
.button.tiny {
	font-size: 11px;
	line-height: 1.8;
	min-height: 2em;
}

/*
	Status
*/
.contentsync_info_box.contentsync_status {
	align-items: center;
	position: relative;
	margin: 0;
}

.contentsync_info_box.contentsync_status img,
.contentsync_info_box.contentsync_status svg {
	height: 16px;
	display: inline-block;
}

.contentsync_info_box.contentsync_status img:not(:last-child),
.contentsync_info_box.contentsync_status svg:not(:last-child) {
	margin-right: 5px;
}

.contentsync_info_box.contentsync_status.purple {
	color: #9b51e0;
}

.contentsync_info_box.contentsync_status.green {
	color: rgba(39, 174, 96, 1);
}

/**
 * make global button
 */
.contentsync_info_box.contentsync_status:has(.button) {
	padding: 0;
	background: none;
}

.contentsync_status .button {
	padding: 6px 10px;
	align-items: center;
	position: relative;
}

/* options */
.contentsync_export_options_toggle .dashicons {
	padding: 8px;
	opacity: 0.6;
	cursor: pointer;
}

.contentsync_export_options_toggle:hover .dashicons {
	opacity: 1;
}

._contentsync_export_options_toggle:checked ~ .contentsync_export_options_toggle .dashicons {
	opacity: 1;
	color: var(--wp-admin-theme-color);
}

.editable_contentsync_export_options b,
.editable_contentsync_export_options label {
	display: inline-block;
	margin-bottom: 4px;
}

.editable_contentsync_export_options {
	display: none;
}

._contentsync_export_options_toggle {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

._contentsync_export_options_toggle:checked ~ .editable_contentsync_export_options {
	display: block;
}

/*
	WP_List_Table
*/
table.contentsync_table .row-actions a[onclick] {
	cursor: pointer;
}

table.contentsync_table tr.unused td {
	color: #afafaf;
}

table.contentsync_table .column-post_title {
	width: 30%;
}

/*
	Check for errors
*/
.toplevel_page_contentsync ul.subsubsub li .dashicons {
	font-size: 1.2em;
	height: 1.2em;
	width: 1.2em;
	vertical-align: middle;
}

.toplevel_page_contentsync .js_check_errors .spinner {
	margin: 0 4px;
}

/*
	Info Popup
*/
.contentsync_info_popup {
	position: relative;
	display: inline-block;
	padding: 0 3px;
	cursor: pointer;
}

.contentsync_info_popup .dashicons {
	width: 1em;
	height: 1em;
	font-size: 16px;
	opacity: 0.5;
}

.contentsync_info_popup .dashicons.active {
	opacity: 1;
}

.contentsync_info_popup .dashicons.inactive {
	opacity: 0.3;
}

.contentsync_info_popup:hover .dashicons {
	transform: scale(1.1);
}

.contentsync_info_popup:not(:hover) .contentsync_info_text {
	display: none;
}

.contentsync_info_popup .contentsync_info_text {
	display: block;
	cursor: auto;
	position: absolute;
	bottom: 100%;
	left: 50%;
	width: 200px;
	margin: 0 0 8px -112px;
	padding: 6px 12px;
	border-radius: 2px;
	line-height: 1.3;
	background-color: #fff;
	box-shadow: 0px 3px 14px -2px rgb(0 0 0 / 20%);
}

.contentsync_info_popup .contentsync_info_text::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -6px;
	border: 6px solid transparent;
	border-top: 5px solid #fff;
}

/*
	Admin Column
*/
table.wp-list-table th.column-contentsync_status img {
	width: 20px;
	vertical-align: bottom;
}

table.wp-list-table th.column-contentsync_status,
table.wp-list-table td.contentsync_status {
	text-align: center;
	width: 130px;
	vertical-align: middle;
}

table.wp-list-table td.contentsync_status .contentsync_info_box:hover::after {
	content: attr(data-title);
	position: absolute;
	display: block;
	left: 50%;
	transform: translateX(-50%);
	top: 100%;
	margin: 8px 0 0;
	padding: 0px 3px;
	border-radius: 2px;
	font-size: smaller;
	background: gray;
	color: white;
}

table.wp-list-table td.contentsync_status .contentsync_info_box:hover::before {
	content: '';
	position: absolute;
	display: block;
	top: 100%;
	left: 50%;
	margin: 0 -4px;
	border: 4px solid transparent;
	border-bottom-color: gray;
}

table.wp-list-table td.contentsync_status .contentsync_info_box.button img {
	margin-bottom: -3px;
}

a.remote {
	color: gray;
	text-decoration: underline;
}

table.wp-list-table .contentsync_popup_wrapper .dashicons-info {
	opacity: 0.5;
}

/*
	Disable Contents
*/
body.contentsync-locked #titlewrap,
body.contentsync-locked #titlediv .inside,
body.contentsync-locked .composer-switch,
body.contentsync-locked #wp-content-wrap,
body.contentsync-locked .postbox:not(#submitdiv):not(#contentsync_box):not(#vc_form_info),
body.contentsync-locked #post-body-content input,
body.contentsync-locked #post-body-content select,
body.contentsync-locked #post-body-content textarea,
body.contentsync-locked #post-body-content label,
body.contentsync-locked .postbox:not(#contentsync_box) input,
body.contentsync-locked .postbox:not(#contentsync_box) select,
body.contentsync-locked .postbox:not(#contentsync_box) textarea,
body.contentsync-locked .postbox:not(#contentsync_box) label,
body.contentsync-locked .postbox:not(#contentsync_box) button,
body.contentsync-locked .postbox:not(#contentsync_box) .button,
body.contentsync-locked [id*="tagsdiv"],
body.contentsync-locked [id*="categorydiv"],
body.contentsync-locked [id*="categoriesdiv"],

/* block editor support */
body.contentsync-locked .editor-styles-wrapper,
body.contentsync-locked .edit-post-visual-editor,
body.contentsync-locked .edit-post-text-editor,
body.contentsync-locked .editor-header__settings .components-button:not( .components-dropdown-menu__toggle ):not([target="_blank"]),
body.contentsync-locked .edit-post-header__settings,
body.contentsync-locked .editor-header__toolbar,
body.contentsync-locked .edit-post-header__toolbar,
body.contentsync-locked .edit-post-last-revision__panel,
body.contentsync-locked .editor-post-summary :is(button, a),
body.contentsync-locked .components-panel__body input,
body.contentsync-locked .components-panel__body select,
body.contentsync-locked .components-panel__body button:not(.components-panel__body-toggle, .contentsync-action-button),
body.contentsync-locked .components-panel__body label,
body.contentsync-locked .components-notice__action:not(.contentsync-notice__action),

body.contentsync-locked ._____________ {
	cursor: default;
	pointer-events: none;
	opacity: .5;
}

/* disable all block elements */
body.contentsync-locked .editor-styles-wrapper * {
	pointer-events: none !important;
}

/**
 * Enable elements
 */

/* enable search exclude metabox */
body.contentsync-locked .postbox#search_exclude_metabox,
body.contentsync-locked .postbox#search_exclude_metabox input,
body.contentsync-locked .postbox#search_exclude_metabox label,
/* pinned items */
body.contentsync-locked .interface-pinned-items > .components-button
{
	cursor: auto !important;
	pointer-events: all !important;
	opacity: 1 !important;
}

/*
	Contentsync post notice
*/
.synced_post_notice.notice-purple {
	border-left-color: #9b51e0;
}

.synced_post_notice > div {
	padding: var(--metabox-padding) 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

@media(max-width: 782px) {
	.synced_post_notice > div {
		flex-direction: column;
		align-items: flex-start;
	}
}

.synced_post_notice > div > div {
	margin: 0 5px;
}

.synced_post_notice .dashicons {
	width: 32px;
	height: 32px;
	font-size: 32px;
}

.synced_post_notice p {
	max-width: 50em;
}

.synced_post_notice .buttons {
	white-space: nowrap;
}

.synced_post_notice .buttons .button:not(:last-child) {
	margin-right: 6px;
}

/* style block admin notice */
.components-notice__actions {
	align-items: center;
}

.contentsync_components_notice.is-purple {
	border-left-color: #9b51e0;
	background-color: #f6edff;
}

.contentsync_components_notice p {
	font-size: 14px;
}

.contentsync_components_notice .components-button.contentsync-notice__action {
	height: 46px;
	padding: 10px 20px;
	margin-right: 16px;
}

.contentsync_components_notice .components-button.contentsync-notice__action.is-primary {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.contentsync_components_notice .components-button.contentsync-notice__action.is-secondary {
	color: #000;
	box-shadow: inset 0 0 0 1px #000;
}

.contentsync_components_notice .heading {
	display: flex;
	align-items: center;
}

.synced_post_notice .status_pill,
.contentsync_components_notice .status_pill {
	display: inline-block;
	padding: 1px 5px 1px 6px;
	background: #9b51e0;
	color: #fff;
	margin-left: 8px;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: smaller;
	letter-spacing: 1px;
}

.synced_post_notice .status_pill_neutral,
.contentsync_components_notice .status_pill_neutral {
	background: #000;
	color: #fff;
}

.synced_post_notice .status_pill_error,
.contentsync_components_notice .status_pill_error {
	background: #cd0000;
	color: #fff;
}

.contentsync_components_notice em {
	display: block;
	font-weight: bold;
	margin: 1rem 0 1rem 2rem;
	padding: 0.5rem 0 0.5rem 1rem;
	border-left: 2px solid currentColor;
}

/*
	Overlay
*/
.contentsync_overlay .contentsync_unsaved .contentsync_info_box {
	margin: 20px 0 0;
}

.contentsync_overlay .synced_post_list {
	margin-top: 0;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.contentsync_overlay .synced_post_list li {
	margin-bottom: 0;
}

.contentsync_overlay .inner_content:has(.synced_post_list) {
	padding-bottom: 20px;
}

.contentsync_overlay .inner_content .inner_content {
	margin: 10px 0 0;
	padding: 15px 0 5px;
 	border-top-color: #ecebeb;
	border-bottom: none;
}

.contentsync_overlay .inner_content:not(:has( > .multioption + div + div )) .multioption {
	display: none;
	margin: 0 !important;
}

.contentsync_overlay .conflicts .inner_content > .multioption + :last-child {
	margin-top: -15px;
}

.contentsync_overlay .conflicts .inner_content .relationship {
	display: inline-block;
	white-space: nowrap;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.1);
	line-height: 2;
	padding: 0 8px;
	margin-left: 8px;
}




.contentsync_overlay .loading .contentsync_review_approve:not(.hidden) ~ .escape {
	display: none;
}

.contentsync_overlay .contentsync_review_message_forms label {
	font-weight: normal;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}

.contentsync_overlay .contentsync_review_message_forms label:hover {
	background: inherit;
}

.contentsync_overlay .contentsync_review_message_forms textarea {
	width: 100%;
}

/*
----------------------------------------------------------

								Blocks support

----------------------------------------------------------
*/
body.block-editor-page #poststuff {
	--metabox-margin: -25px;
	--metabox-padding: 25px;
}

body.block-editor-page #contentsync_box .inside {
	padding-top: 0px;
}

body.block-editor-page #contentsync_box .inside p {
	margin-top: 10px;
}