/**
 * Description
 */
.contentsync-modal .components-modal__description {
	margin-block: 0 8px;
}

/**
 * Body
 */
.contentsync-modal .components-panel__body {
	border: none;
	padding-block: 0 16px;
}

.contentsync-modal .components-panel__body-form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding-block: 8px;
}

/**
 * Checkbox control
 */
.contentsync-modal .components-panel__body-form .components-checkbox-control {
	display: flex;
	flex-direction: row;
}

.contentsync-modal
	.components-panel__body-form
	.components-checkbox-control
	.components-checkbox-control__input-container {
	height: var(--checkbox-input-size, 16px);
}

.contentsync-modal
	.components-panel__body-form
	.components-checkbox-control
	.components-checkbox-control__label {
	display: flex;
	flex-direction: column;
	gap: 4px;
	max-width: calc(100% - var(--checkbox-input-margin) - var(--checkbox-input-size));
}

/**
 * File upload control
 */
.contentsync-modal .components-form-file-upload,
.contentsync-modal .components-panel__row label.components-button {
	max-width: 100%;
}

.contentsync-modal .components-form-file-upload__button-label {
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: calc(100% - 24px);
	overflow: hidden;
}

.contentsync-modal .components-panel__body .contentsync-info-box {
	margin-block: 8px 0;
}

.contentsync-modal input[type='file'],
.contentsync-modal .components-panel__row:has(> .hidden:first-child:last-child) {
	height: 0;
	min-height: 0;
	overflow: hidden;
	opacity: 0;
}

/**
 * Custom control
 */
.contentsync-modal .components-custom-control {
	width: 100%;
}

/**
 * Post conflicts container
 */
.contentsync-modal .post-conflicts-container .spinner {
	margin-top: 0;
}

.contentsync-modal .components-panel__row:has(.post-conflicts-container:empty) {
	display: none;
}

.contentsync-modal .posts-conflicts-inner-container {
	width: calc(100% + 64px);
	margin: -4px -32px;
	padding: 0 32px;
	background-color: #fbfbfb;
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	max-height: 300px;
	overflow: auto;
}

.contentsync-modal .posts-conflicts-inner-container > span:only-child {
	display: block;
	padding-block: 10px;
}

.contentsync-modal .post-conflicts-container .post-conflict {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	padding-block: 10px;
	border-bottom: 1px solid #d0d0d0;
}

.contentsync-modal .post-conflicts-container .post-conflict:last-child {
	border-bottom: none;
	padding-bottom: 16px;
}

.contentsync-modal .post-conflicts-container .post-conflict .post-conflict-title {
	flex-grow: 1;
}

.contentsync-modal .post-conflicts-container .post-conflict .post-conflict-action {
	flex-shrink: 0;
}

/* multioption */
.contentsync-modal .post-conflicts-container .post-conflict.multiselect {
	background: rgba(0, 0, 0, 0.05);
	padding: 7px 30px;
	margin-inline: -30px !important;
}

.contentsync-modal .post-conflicts-container .post-conflict.multiselect > .post-conflict-title {
	font-size: 0.9em;
	font-weight: 600;
}

.contentsync-modal .post-conflicts-container .post-conflict.multiselect > .post-conflict-action {
	min-height: 20px;
	line-height: 1.6;
}

/**
 * Footer
 */
.contentsync-modal .components-panel__footer.components-flex {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: row;
	gap: 8px;
	-webkit-box-pack: end;
	justify-content: flex-end;
	width: 100%;
}
